/* audio-wave */
.audiowave {
    margin-left: 20px;
    height: 70px;
    width: 70px;
    fill: #fff;
  }
  
  #audiline_1 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
  }
  
  #audiline_2 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  
  #audiline_3 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
  }
  
  #audiline_4 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  
  #audiline_5 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
  
  #audiline_6 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  
  #audiline_7 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
  }
  
  #audiline_8 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  
  #audiline_9 {
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    50% {
      -webkit-transform: scaleY(0.7);
              transform: scaleY(0.7);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
  }
  
  @keyframes pulse {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    50% {
      -webkit-transform: scaleY(0.7);
              transform: scaleY(0.7);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
  }