html {
    cursor: none;
    overflow: hidden;
    background: #000;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 30px;
    position: absolute;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    background: #000;
    color: #d1d1d1;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2em;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

.block {
    position: absolute;
}

.block.top {
    top: 0;
}

.block.right {
    right: 0;
    /*text-align: right;*/
}

.block.left {
    left: 0;
    /*text-align: left;*/
}

.block.top.region {
    width: 100%;
    text-align: center;
}

/* .block.top.right,
.block.top.left,
.block.top.center {
    top: 0;
} */

.block.top.center {
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* .block.top .container {
    margin-bottom: 25px;
} */

.block.bottom.region {
    bottom: 0;
    width: 70%;
    text-align: center;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block.bottom.up {
    position: relative;
}

.block.bottom.down {
    position: relative;
}

.block.bottom .container {
    margin-top: 25px;
}

.block.bottom.up .container {
    font-size: 0.4em;
}

.block.bottom.down .container {
    font-family: Palatino;
    font-style: italic;
    font-size: 0.5em;
    margin-top: 5px;
}

.block.middle.region {
    top: 20%;
    bottom: 20%;
    width: 100%;
}

/* .block.middle.left,
.block.middle.right {
    width: 20%;
    bottom: 0;
    top: 0;
} */

.block.middle.center {
    font-size: 0.7em;
    width: 80%;
    line-height: normal;
    bottom: 30%;
    text-align: center;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

/* .block.middle.up {
    width: 100%;
    height: 50%;
    position: relative;
}

.block.middle.down {
    width: 100%;
    height: 50%;
    position: relative;
} */
